*{
    background-color: black;
}


html,
body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: black;
}

button {
    margin: 50px;
    font-family: inherit;
    -webkit-text-stroke: 0.3vw #fcfcfc;
}

h1{
    padding: 20% 0;
    text-align: center;
    font-size: 100px;
    -webkit-text-stroke: 0.3vw #15db1f;
}


span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
}

span a:before,
span a:after {
    position: absolute;
    content: "CONTINUE";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(255, 0, 0);
    box-sizing: border-box;
    border-radius: 5px;
}

span a:before {
    color: rgb(0, 0, 0);
    background: rgb(255, 0, 0);
    transform: rotateY(0deg) translateZ(25px);
}

span a:after {
    color: rgb(0, 255, 183);
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}