@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek');
html, body {
  font-family: Roboto, monospace;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
  width: 100%;
  overflow: hidden;
  background: transparent;
  display:flex; 
 
  align-items: center;
  
}


canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.container {
  width: 100%;
  height: 100vh;
  top : 0;
  left : 0;
  position: absolute;
  pointer-events: none;
}


.title-container{
  padding:0;
  display:flex; 
  margin:0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 30px;
}

h1 {
  position: relative;
  font-size: 150px;
  -webkit-text-stroke: 0.3vw #f10404;
  background: transparent;
  color: transparent;
  text-transform: uppercase;
}

h1::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left:0%; 
  width: 0;
  height: 100%;
  color: #000000;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #e7e7e7;
  overflow: hidden;
  animation: animate 5s linear infinite;
}


@keyframes animate {
  0%, 10%, 100%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
}

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  pointer-events: all;
}

span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
}

span a:before,
span a:after {
  position: absolute;
  content: "CONTINUE";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(255, 0, 0);
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: rgb(0, 255, 183);
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

